<div class="logo">
  <h1>
    <a href="/" title="openAid Home">Open<span>Aid</span><img src="/images/plus_icon.png" alt="" class="rit3 png" />&nbsp;&nbsp;&nbsp;&nbsp;Register</a>
  </h1>
</div>

<div class="header_text">
  <p>We help non-profits and NGOs publish their aid data using the most common data standard for aid: IATI (International Aid Transparency Initiative) and ensure that this data remain open.</p>
</div>

<div class="header_boot">
  <p style="background:none;width:500px;text-indent:10px;">WE'RE SORRY, BUT YOUR BROWSER IS NOT SUPPORTED.</p>
  <h2>We highly recommend that you upgrade or change your browser to use OpenAid Register.</h2>
  <ul>
    <li class="browser_choice">
      <a href="http://www.google.com/chrome/"><img src="/images/chrome_logo.png" alt=""/></a>
      <span>Get Google Chrome (recommended)</span>
    </li>
    <li class="browser_choice_extra">
      <a href="http://www.apple.com/safari"><img src="/images/safari_logo.png" alt=""/></a>
      <span>Get Apple Safari</span>
    </li>
    <li class="browser_choice_extra">
      <a href="http://www.microsoft.com"><img src="/images/ie_logo.png" alt=""/></a>
      <span>Get Microsoft IE</span>
    </li>
  </ul>
</div>

<div class="nav">&nbsp;</div>

<div id="body_container"></div>
