

<div class="logo">
          <h1><a href="" title="openAid Home">Open<span>Aid</span>&nbsp;&nbsp;&nbsp;&nbsp;Register</a></h1>
        </div>

  <div class="header_text">
    <p>Do you want to add new projects? Do you want to download your IATI Data? <br> 
	From your dashboard you can control everything.</p>
  </div>
</div>
<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
    		<form action="" method="post">
          	<fieldset>
              	<div class="colem">
              	<h3>WELCOME, <%= session[:organization][:organization_name] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/logout" color="#ff3300"> LOGOUT </a></h3>

                </div>
				<div class="colem01">
              	<p>I am sorry, we are currently finishing the Open Aid Register dashboard, so you can't make many things now. You will have to wait some days to be able to use Open Aid Register. We will send you an email to announce it. Thanks!</p>
                </div>


              </fieldset>
          </form>
    
    </div>
    <div class="sign_right">
	
		
    		<span>DO YOU NEED SOME HELP?</span>
          <p>You can always <a HREF="mailto:contact@openaidregister.org">contact us</a> if you have troubles on this step</p>
         
    </div>
  </div>
</div>