<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> There is a new file uploaded</h1>
    <p>
      Check it out in S3 Amazon web services

	File uploaded from:	Your name: <%=@new_user.contact_name%><br>
	Cartodb id: <%=@new_user.cartodb_id%><br>
	Filename:  <%=@new_user.filename%><br>
		
    </p>
  </body>
</html>