<% content_for :head do %>

  <%= javascript_include_tag "signup" %>

<% end %>

<div class="logo">
	<% if session[:organization].blank? %>
    <h1><a href="/signup" title="openAid Home">Sign up</a><img src="/images/plus_icon.png" alt="" class="rit4 png" /></h1>
    <div class="header_text">
      <p>We need this information about you and your organization to validate your account. We will also use the organization info when publishing your aid data so you won’t need to write this again.</p>
    </div>
	<% else %>
	  <h1><a href="/signup" title="openAid Home">Your account</a><img src="/images/plus_icon.png" alt="" class="rit6 png"/></h1>
	  <div class="header_text">
	    <p>Edit your account or complete the information about your organization. This organization information will be used for the IATI XML</p>
	  </div>
	<% end %>
</div>


<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
      <%= render :partial => 'signup_form' %>
    </div>

    <div class="sign_right">
	    <% if session[:organization].blank? %>
        <span>DO YOU NEED SOME HELP?</span>
        <p><a HREF="mailto:contact@openaidregister.org">Contact us</a> if you have troubles with this process</p>
	      <strong>We will only contact you once.</strong>
	    <% end %>

		  <% if @errors %>
        <div id="errors">
          <h4>Errors:</h4>
          <div class="clear"></div>
		      <ul>
            <% @errors.each do |error| %>
				      <li><%= error %></li>
				    <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="sign_right_secondary">
	    <% if session[:organization].present? %>
        <div class="publish">
          <h3>PUBLISHING TOOLS</h3>
          <ul>
            <li>
              <div class="but_sec">
                <%= link_to "XML", organization_path(session[:organization][:cartodb_id], :format => :xml) %>
              </div>
              <div class="text_sec">
                <p>Download your IATI XML File and share it with everyone </p>
              </div>
            </li>
          </ul>
        </div>
      <% end %>
	  </div>




  </div>
</div>
