<div class="logo">
          <h1><a href="" title="openAid Home">Sign up</a></h1>
        </div>
<div class="header_text">
		    <p>We need this information about you and your organization to validate your account. We will also use the organization info when publishing your aid data so you won’t need to write this again.</p>
		</div>
</div>
<div id="body_container">
	<div class="sign_sec">
		    <div class="sign_left">
		    		<form action="" method="post">
			

				<p style="font-size:16px;color:black;font-weight:normal">
				Thanks for signing up! Your account is now created.<br>
				In a few minutes, you will get an email from us confirming your signup.
			</p>
				
				</div>
		    <div class="sign_right">


		    		<span>DO YOU NEED SOME HELP?</span>
		          <p>You can always <a href="#">contact us</a> if you have troubles on this step</p>
		          
		    </div>

		  </div>
		
	
		</div>



