
 <div class="center_content">

Thank you for sigining up! 
<br>


Your account is created!! 
Why don't you start <a href="/project">registering projects</a>? 
You will have your projects published online once we validate your account (now is pending validation). 
It will only take a couple of working days, promise!!

	<br>
	<br>

<%= link_to "ENTER PROJECTS", "/project" %>


<a href="/about"> Learn More </a>



 </div>
