
 <div class="center_content">


<h2> Hello <%= session[:organization].contact_name %> !</h2>
Thank you for sigining up with Open Aid Register!
<br>

<p>
Your account is now created.</p>
Why don't you start <a href="/project">registering projects</a>? 
You will have your projects published online once we validate your account (now it is pending validation). The validation wont take longer than a couple of working days, promise!!

	<br>
	<br>

<%= link_to "ENTER PROJECTS", "/project" %>


<a href="/about"> Learn More </a>



 </div>
