
 <div class="center_content">

Thank you for sigining up! 
<br>

Your account is now pending validation (which means it is on our priority ToDo list). You will get an email when we are done.
<br>
Meanwhile, why dont you learn 
<a href="/about">more about open aid register?</a>


 </div>  


 
 </div>
