#notice, #alert{ display: none; }

#outer_layout{ float:left; width:100%; background:url(../images/header_bg01.jpg) repeat-x 0 0}

.layout{ margin:auto; width:1032px;}
.layout.wid-1052{width:1052px;}
.outer_wrapper{ float:left; width:100%; background:url(../images/header_bg.jpg) no-repeat center top;}
#outer_layout.theam02 .outer_wrapper{background-image:url(../images/openAidHome3.jpg)}
.outer_header{ float:left; width:100%;}
#header{ float:left; width:100%;}

#header .top_nav{ float:left; width:100%; padding:45px 0 0 0;}
#header .top_nav ul{ float:left; width:100%; list-style:none;}
#header .top_nav ul li{ float:left; color:#818180; font:bold 13px/16px "Helvetica Neue"; text-transform:uppercase; background:url(../images/doot.gif) no-repeat right center; padding:0 19px;}
#header .top_nav ul li.first{ padding:0 19px 0 0;}
#header .top_nav ul li.last{background:none; padding:0 0 0 19px;}
#header .top_nav ul li a{ float:left; color:#818180;}
#header .top_nav ul li a:hover, #header .top_nav ul li a.active{ color:#ff3300; text-decoration:none;}

#header .logo{ float:left; width:100%; padding:50px 0 0 0;}
#header .logo h1{ float:left; width:860px; }
#header .logo h1.wid{width:1032px;}
#header .logo h1 a{ float:left; width:auto; color:#fff; font:normal 101px/121px Georgia, "Times New Roman", Times, serif;}
#header .logo h1 a span{ color:#ff3300;}
#header .logo h1 a:hover{ text-decoration:none;}
.theam02 #header .logo h1{position:relative;}
.theam02 #header .logo h1 img{position:absolute; top:-15px; right:0px;}
.theam02 #header .logo h1 img.rit{right:20px;}
.theam02 #header .logo h1 img.rit2{right:450px;}
.theam02 #header .logo h1 img.rit3{right:340px;}
.theam02 #header .logo h1 img.rit4{right:360px;}
.theam02 #header .logo h1 img.rit5{right:610px;}



.theam02 #header .logo h1 a{position:relative; z-index:2;}

#header .header_text{ float:left; width:100%; padding:15px 0 0 0;}
#header .header_text p{ float:left; width:100%; font:normal 23px/28px "Helvetica Neue";}

#header .header_boot{ float:left; width:100%; padding-top:94px;}
#header .header_boot p{ float:left; width:321px; height:11px; color:#ff3300; font:bold 13px/16px "Helvetica Neue"; text-indent:-9999px; background:url(../images/do_work.jpg) no-repeat 0 0; position:relative; left:-13px; top:3px;}
#header .header_boot h2{ float:left; width:100%; color:#fff; font:normal 25px/30px Georgia, "Times New Roman", Times, serif; padding-top:16px;}

#header .header_boot ul{ float:left; width:100%; list-style:none; padding-top:32px; position:relative; left:-1px;}
#header .header_boot ul li{ float:left; width:auto; height:auto; color:#ffffff; font:normal 17px/21px "Helvetica Neue"; display:inline;}
#header .header_boot ul li a{ color:#ff3300;}
#header .header_boot ul li.sign_in{ width:297px; height:84px;}
#header .header_boot ul li.fill_form{ width:299px; height:84px;margin-left:64px;}
#header .header_boot ul li.you_done{ width:308px; height:85px; margin-left:64px;}
#header .header_boot ul li img{ float:left;}
#header .header_boot ul li span{ padding-top:17px; display:block; width:201px; float:right}

#header .nav{ float:left; width:100%; height:40px; padding-top:127px;}
#header .nav ul{ float:left; width:100%; list-style:none;}
#header .nav ul li{ float:left; color:#000000; font:bold 13px/16px "Helvetica Neue"; text-transform:uppercase; background:url(../images/orange_doot.gif) no-repeat right center; padding:0 19px;}
#header .nav ul li a{ color:#000;}
#header .nav ul li.first{ padding:0 19px 0 0;}
#header .nav ul li.last{background:none; padding:0 0 0 19px;}

#body_container{ float:left; width:100%; padding:49px 0 0 0;}
.body_top{ float:left; width:100%;}

.body_top .body_top_lf{ float:left; width:310px; padding-top:24px;}
.body_top .body_top_lf h3{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue";padding-bottom:16px; text-transform:uppercase; text-shadow:1px 1px 0 #fff;}
.body_top .body_top_lf p{ float:left; width:100%; color:#000000; font:normal 17px/21px "Helvetica Neue";padding-bottom:21px;}
.body_top .body_top_lf span{ float:left; width:268px; height:51px;padding-top: 11px}
.body_top .body_top_lf span a{ display:block; width:218px; padding-left:50px; float:left; height:51px; background:url(../images/spread_world.gif) no-repeat 0 0; color:#fff;font:normal 17px/51px "Helvetica Neue";}

.body_top .body_top_rt{ float:right; width:659px; height:358px; padding:10px; background:url(../images/video_bg.jpg) no-repeat 0 0;}

.box_list{ float:left; width:100%; padding:57px 0 86px 0 ;}
.box_list ul{ float:left; width:100%; list-style:none;}
.box_list ul li{ float:left; width:314px; padding-left:48px;}
.box_list ul li.first{padding-left:0;}
.box_list ul li.last{width:313px; padding-left:43px;}
.box_list ul li h4{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue";padding-bottom:19px; text-transform:uppercase; text-shadow:1px 1px 0 #fff; height:16px;}
.box_list ul li span{ float:left; width:228px; height:75px; padding-top:4px}
.box_list ul li p{ float:left; width:100%; color:#000; font:normal 17px/21px "Helvetica Neue";padding:26px 0 0 0;}
.box_list ul li h5{ float:left; width:100%; color:#ff3300; font:bold 20px/26px "Helvetica";padding-bottom:7px; text-transform:uppercase; text-shadow:1px 1px 0 #fff;}
.box_list ul li small{ float:left; width:100%; color:#666666; font:normal 15px/15px "Helvetica";}
.box_list ul li small strong{ padding-left:10px; font-weight:normal; background:url(../images/dot.gif) no-repeat left center; margin-left:6px; display:inline;}
.box_list ul li p.blockquoto{ padding:19px 0 26px 0; background:url(../images/blockquoto.gif) no-repeat right bottom;}

.box_list ul li .date_sec{ float:left; width:100%; padding-top:13px;}
.box_list ul li .date_sec ul{ float:left; width:100%; list-style:none;}
.box_list ul li .date_sec ul li{ float:left; width:150px; padding:0}
.box_list ul li .date_sec ul li span{ float:left; color:#adadad; font:bold 11px/14px "Helvetica Neue"; height:auto; padding:0}
.box_list ul li .date_sec ul li strong{ float:left; color:#666666; font:normal 15px/15px Helvetica, Arial, sans-serif;}

#outer_footer{ float:left; width:100%; background:#121212; border-top:4px solid #ff3300; height:206px;}
#footer { float:left; width:100%; background:url(../images/footer_bg.jpg) no-repeat right top; position:relative; top:-4px;}
#footer .footer_left{ float:left; width:618px; padding-top:50px;}
#footer .footer_left p{ float:left; width:100%; font:normal 17px/21px "Helvetica Neue"; color:#fff; }
#footer .footer_left p a{ color:#ff3300;}

#footer .footer_left ul{ float:left; width:100%;list-style:none; padding-top:45px;}
#footer .footer_left ul li{ float:left;color:#898989; font:normal 17px/21px "Helvetica Neue"; background:url(../images/seprator.gif) no-repeat left center; padding:0 5px;}
#footer .footer_left ul li.first{background:none; padding:0 5px 0 0;}
#footer .footer_left ul li a{color:#898989;}

#footer .footer_right{ float:right; width:315px; padding-top:53px;}
#footer .footer_right .newyork_logo{ float:left; width:165px; height:34px;}
#footer .footer_right .international{ float:left; width:118px; height:37px; padding-left:28px;}


/***** sign up page start here *******/

.sign_sec{ float:left; width:100%; padding:5px 0 118px 0;}
.sign_sec .sign_left{ float:left; width:738px;}
.sign_sec .sign_left form{ float:left; width:647px; background:url(../images/sign_up_bg.png) no-repeat 0 0; padding:40px 44px 47px 45px}
.sign_sec .sign_left form .colem{ float:left; width:100%;}
.sign_sec .sign_left form .padd_top{ padding-top:16px;}
.sign_sec .sign_left form h3{ float:left; width:100%; color:#020202; font:bold 13px/16px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; padding-bottom:26px;}
.sign_sec .sign_left form .row{ float:left; width:100%; padding-bottom:16px;}
.sign_sec .sign_left form .row label{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; text-transform:uppercase; padding-bottom:6px;}
.sign_sec .sign_left form .row input.imp01{ border:1px solid #b1b1b1; float:left; width:410px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
.sign_sec .sign_left form .row input.imp02{ border:1px solid #b1b1b1; float:left; width:625px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
/* Added to be able to print nicely about and terms page */
.sign_sec .sign_left p{ float:left; width:100%; color:#000000; font:normal 17px/21px "Helvetica Neue";padding-bottom:21px;}
/* */
.sign_sec .sign_left form .row .inner_row{ float:left; width:207px; margin-right:18px; display:inline;}
.sign_sec .sign_left form .row .inner_row input.imp01{ float:left; width:185px;}
/* Added to be able to include new text*/
.sign_sec .sign_left form .row .inner_row.last{ float:left; width:170px;}
.sign_sec .sign_left form .row .inner_row p.inform{ padding-top:25px;padding-bottom:5px; width:100%; float:left; font-family:"Helvetica Neue",Arial, Helvetica, sans-serif; font-size:14px; color:#999999; line-height:18px;}
/* */
.sign_sec .sign_left form .row .inner_row1{ float:left; width:207px; margin-right:18px; display:inline;}
.sign_sec .sign_left form .row .inner_row2{ float:right; width:196px;}
.sign_sec .sign_left form .row .inner_row2 input.imp01{ float:left; width:174px;}

.sign_sec .sign_left form .colem01{ float:left; width:100%; padding-top:20px;}
.sign_sec .sign_left form .colem01 span{ float:left; width:205px; height:51px; background:url(../images/sign_btn.gif) no-repeat 0 0;}
.sign_sec .sign_left form .colem01 span input.inp{ float:left; width:205px; color:#fff; height:51px; cursor:pointer; background:none; border:none; text-align:center; font:bold 22px/51px "Helvetica Neue";}
.sign_sec .sign_left form .colem01 p{ float:left; width:auto; padding-left:18px; color:#666666; font:bold 13px/16px "Helvetica Neue"; margin-top:17px; display:inline;}
.sign_sec .sign_left form .colem01 p a{color:#666666;}
.sign_sec .sign_left form .colem01 p small{ float:left; width:auto; height:auto; padding:3px 9px 0 0;}


/***Added select in sign up form*/
.sign_sec .sign_left form .row select{float:left; height:42px; margin:0; padding:0}
.sign_sec .sign_left form .row select.wid-430{width:430px;}
.sign_sec .sign_left form .row select.wid-205{width:205px;}
.sign_sec .sign_left form .row select.wid-400{width:400px;}
/**/

#body_container .sign_sec .sign_right{ float:right; width:283px; padding-top:44px;}
#body_container .sign_sec .sign_right span{ float:left; width:215px; height:11px; background:url(../images/do_help.gif) no-repeat 0 0; text-indent:-9999px;}
#body_container .sign_sec .sign_right p{ float:left; width:274px; color:#fff; font:normal 17px/21px "Helvetica Neue"; padding:15px 0 0 9px;}
#body_container .sign_sec .sign_right p a{ color:#fff;}
#body_container .sign_sec .sign_right strong{ float:left; width:274px; color:#fff; font:normal 15px/18px "Helvetica Neue"; padding:160px 0 0 9px;}
#body_container .sign_sec .sign_right small{ float:left; width:274px; color:#999999; font:normal 15px/18px "Helvetica Neue"; padding:360px 0 0 9px;}
/***changing the sign right so that errors can be seen*/
#body_container .sign_sec .sign_right h4{ float:left; width:274px; color:#FF3300; font:normal 15px/18px "Helvetica Neue"; padding-top:100px;}
.sign_sec .sign_down{ float:right; width:283px; padding-top:270px;}
.sign_sec .sign_down small{ float:left; width:274px; color:#999999; font:normal 15px/18px "Helvetica Neue"; padding:15px 0 0 9px;}
/**/

.dashboard{width:724px; float:left; background:url(../images/dasboard_bg.png) no-repeat; padding:0 7px 0 7px; }
.dashboard .map{width:100%; float:left;}
.dashboard .map img{float:left;}
.dashboard .edit_sec{width:100%; float:left;}
.dashboard .edit_sec ul{width:100; float:left; list-style:none; border-bottom:1px solid #cccccc;}
.dashboard .edit_sec ul li{width:666px; float:left; height:45px; float:left; padding:18px 29px 0 29px;}
.dashboard .edit_sec ul li.patrn{background:url(../images/dark_pattern.gif) repeat;}
.dashboard .edit_sec ul li:hover, .dashboard .edit_sec ul li.active{ background:#282828;}
.dashboard .edit_sec ul li:hover a, .dashboard .edit_sec ul li.active a{color:#fff;}
.dashboard .edit_sec ul li a{float:left; height:30px; line-height:30px; color:#333333; font-size:16px; font-family:"Helvetica Neue", arial; font-weight:bold;}
.dashboard .edit_sec ul li a.edit{width:58px; font-size:15px;  float:right; text-align:center; background:url(../images/sprit_but.gif) 0 0 no-repeat; color:#000000; margin-left:10px; display:inline;}
.dashboard .edit_sec ul li a.edit:hover{background-position:0 -34px; text-decoration:none;}
.dashboard .edit_sec ul li a.edit.delete{background-position:-61px 0px; width:68px;}
.dashboard .edit_sec ul li a.edit.delete:hover{background-position:-61px -34px;}
.dashboard .edit_sec ul li .hide_shows{display:none;}
.dashboard .edit_sec ul li:hover .hide_shows, .dashboard .edit_sec ul li.active .hide_shows {float:right; display:block;}
.dashboard .edit_sec .add_project{width:664px; float:left; padding:10px 30px; }
.dashboard .edit_sec .add_project a{float:right; width:155px; height:51px; line-height:51px; text-align:center; background:url(../images/add_but.png) 0 0 no-repeat; font-size:21px; font-family:"Helvetica Neue", arial; color:#fff; text-decoration:none;}

#body_container .sign_sec .dashboard_right{ float:right; width:283px; padding-top:42px;}
.dashboard_right .project_details{width:100%; float:left;}
.dashboard_right .project_details h4{font-size:13px; color:#FF3300; font-family:"Helvetica Neue", arial; text-transform:uppercase; padding-bottom:2px;}
.dashboard_right .project_details .rows{width:100%; float:left; padding-top:10px; }
.dashboard_right .project_details .rows strong{font-size:51px; line-height:51px; font-family:"Helvetica Neue", arial; color:#fff; display:block; float:left;}
.dashboard_right .project_details .rows small{font-size:15px;  font-family:"Helvetica Neue", arial; color:#fff; float:left; padding:10px 0 0 10px;}
.dashboard_right .project_details .rows span{color:#999999; font-size:15px; font-family:"Helvetica Neue", arial;}
.dashboard_right .project_details .rows span em{font-style:normal; color:#fff;}
.dashboard_right .project_details .add_project{width:100%; float:left; padding-top:40px; }
.dashboard_right .project_details .add_project a.add{float:left; width:155px; height:51px; line-height:51px; text-align:center; background:url(../images/add_but.png) 0 0 no-repeat; font-size:21px; font-family:"Helvetica Neue", arial; color:#fff; text-decoration:none; display:block;}
.dashboard_right .project_details .add_project span{width:100%; float:left; padding-top:5px; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:15px;}
.dashboard_right .project_details .add_project span a{ color:#fff;}
.dashboard_right .project_details .publish{width:100%; float:left; padding-top:120px;}
.dashboard_right .project_details .publish h3{font-size:16px; font-family:"Helvetica Neue", arial; padding-bottom:25px; color:#000;}
.dashboard_right .project_details .publish ul{width:100%; float:left; list-style:none;}
.dashboard_right .project_details .publish ul li{width:100%; float:left; padding-bottom:10px;}
.dashboard_right .project_details .publish .but_sec{width:170px; float:left;}
.dashboard_right .project_details .publish .but_sec a{width:155px; height:51px; line-height:51px; font-size:21px; color:#fff; text-decoration:none; float:left; text-align:center; background:url(../images/but02.gif) 0 0 no-repeat; font-family:"Helvetica Neue", arial;}
.dashboard_right .project_details .publish .text_sec{width:113px; float:right;}
.dashboard_right .project_details .publish .text_sec p{font-family:"Helvetica Neue", arial; font-size:15px; color:#999999; line-height:17px;}
/***changing the dashboard right to include account*/
.dashboard_right .project_details .account{width:100%; float:left; padding-top:20px;}
.dashboard_right .project_details .account h3{font-size:16px; font-family:"Helvetica Neue", arial; padding-bottom:25px; color:#000;}
.dashboard_right .project_details .account ul{width:100%; float:left; list-style:none;}
.dashboard_right .project_details .account ul li{width:100%; float:left; padding-bottom:10px;}
.dashboard_right .project_details .account .but_sec{width:170px; float:left;}
.dashboard_right .project_details .account .but_sec a{width:155px; height:51px; line-height:51px; font-size:21px; color:#fff; text-decoration:none; float:left; text-align:center; background:url(../images/but02.gif) 0 0 no-repeat; font-family:"Helvetica Neue", arial;}
.dashboard_right .project_details .account .text_sec{width:113px; float:right;}
.dashboard_right .project_details .account .text_sec p{font-family:"Helvetica Neue", arial; font-size:15px; color:#999999; line-height:17px;}
/**/

#body_container .registry_sec{ float:left; width:100%; padding:5px 0 118px 0;}
.registry_sec .registry_left{ float:left; width:738px;}
.registry_sec .registry_left .form_section{width:100%; float:left;}


.registry_sec .form_section form{ float:left; width:647px; background:url(../images/register_bg.png) 0 0 no-repeat; padding:40px 44px 47px 45px}
.registry_sec .form_section form .colem{ float:left; width:100%;}
.registry_sec .form_section form .padd_top{ padding-top:16px;}
.registry_sec .form_section form h3{ float:left; width:100%; color:#020202; font:bold 13px/16px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; padding-bottom:13px; padding-top:18px; text-indent:3px}
.registry_sec .form_section form h3.first{padding-bottom:26px; padding-top:0;}
.registry_sec .form_section form .row{ float:left; width:100%; padding-bottom:16px;}
.registry_sec .form_section .row label{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; text-transform:uppercase; padding-bottom:6px; text-indent:3px;}
.registry_sec .form_section .row input.imp01{ border:1px solid #b1b1b1; float:left; width:410px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
.registry_sec .form_section .row input.imp02{ border:1px solid #b1b1b1; float:left; width:625px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
.registry_sec .form_section form .row textarea{width:625px; float:left; height:110px; border:1px solid #b1b1b1; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
.registry_sec .form_section form .row ul{width:609px; float:left; padding:10px 19px 30px 19px;  list-style:none; background:url(../images/patter02.gif) repeat;}
.registry_sec .form_section form .row ul.patrn02{background:url(../images/patter03.gif);  padding:10px 19px 15px 19px; }
.registry_sec .form_section form .row ul.patrn02 input.checkbox{float:left;}
.registry_sec .form_section form .row ul.patrn02 span{float:left; padding-left:10px; color:#666666; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:15px;}
.registry_sec .form_section form .row ul li{width:100%; float:left;}
.registry_sec .form_section form .row ul li.add_new{margin-top: 5px}
.registry_sec .form_section form .row ul li .health{float:left; padding:5px 0;}
.registry_sec .form_section form .row ul li .health a{padding-left:10px; background:url(../images/bullet.gif) 0 5px no-repeat; color:#666666; text-decoration:none; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:13px;}
.registry_sec .form_section form .row ul li .health a.last{background:none; padding-left:0;}
.registry_sec .form_section form .row ul li .health em{font-style:normal; font:bold 13px/13px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; color:#8C8C8C; display:inline-block; padding:0 5px 0 14px; position:relative; top:-1px;}
.registry_sec .form_section form .row select{float:left; height:42px; margin:0; font:14px/42px "Helvetica Neue"; color:#666666;}
.registry_sec .form_section form .row select option{}
/**included this new css for sector select to be bigger  */
.registry_sec .form_section form .row select.wid-425{width:425px; height:110px;}
/**/
.registry_sec .form_section form .row select.wid-430{width:430px;}
.registry_sec .form_section form .row select.wid-205{width:205px;}
.registry_sec .form_section form .row select.wid-400{width:400px;}

.registry_sec .form_section .row .inner_row{ float:left; width:207px; margin-right:18px; display:inline;}
.registry_sec .form_section .row .inner_row.wid-402{width:402px;}
.registry_sec .form_section .row .inner_row.wid-402.pad{padding-bottom:10px;}
.registry_sec .form_section .row .inner_row.wid-402 input{ border:1px solid #b1b1b1; float:left; width:380px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
/**included this new css for sector select to be bigger  */
.registry_sec .form_section .row .inner_row.wid-440{width:440px;}
/**/
.registry_sec .form_section .row .inner_row.last{margin-right:0; width:195px}
.registry_sec .form_section .row .inner_row.last02{margin-right:0; width:155px; padding-top:22px;}
/**included this new css for sector select to be bigger  */
.registry_sec .form_section .row .inner_row.last03{margin-right:0px; width:140px; }
.registry_sec .form_section .row .inner_row.last03 ul {width:150px; float:left; padding:5px 0;}
.registry_sec .form_section .row .inner_row.last03 ul li { margin-left:10px;margin-top:10px;margin-bottom:5px}
.registry_sec .form_section .row .inner_row.last03 ul li h6{ color:#666666; font: 14px/16px "Helvetica Neue"; margin-left:10px;display:inline;}
/**/

.registry_sec .form_section .row .inner_row input.imp01{ float:left; width:185px;}
.registry_sec .form_section .row .inner_row .callender{width:185px; float:left; border:1px solid #b1b1b1; padding:5px 10px; height:30px; background:#fff;}
.registry_sec .form_section .row .inner_row .callender input{width:148px; background:none; float:left;  line-height:30px; height:30px; border:none; padding-right:10px; border-right:1px solid #b1b1b1; font:bold 13px/42px "Helvetica Neue"; color:#aeaeae;}
.registry_sec .form_section .row .inner_row .callender input.button{width:18px; float:right; margin:8px 0 0 0px; height:16px; display:inline; background:url(../images/callender.gif) 0 0 no-repeat; cursor:pointer; border-right:none;}
.registry_sec .form_section .row .inner_row .callender input.button.euro{background-image:url(../images/euro.gif);}
.registry_sec .form_section .row .inner_row p.date{ padding-top:25px; width:100%; float:left; font-family:"Helvetica Neue",Arial, Helvetica, sans-serif; font-size:15px; color:#999999; line-height:18px;}
.registry_sec .form_section .row .inner_row.wid-400{width:400px; margin-right:0;}
.registry_sec .form_section .row .map02{width:633px; border:1px solid #b1b1b1; background:#fff; padding:5px 6px; float:left;}
.registry_sec .form_section .row .map02 img{float:left;}
.registry_sec .form_section .row .inner_row input.button_add{width:151px; height:40px; background:url(../images/but03.gif) 0 0 no-repeat; border:none; cursor:pointer;}


.registry_sec .form_section .row .inner_row1{ float:left; width:207px; margin-right:18px; display:inline;}
.registry_sec .form_section .row .inner_row2{ float:right; width:196px;}
.registry_sec .form_section .row .inner_row2 input.imp01{ float:left; width:174px;}

.registry_sec .form_section .colem01{ float:left; width:100%; padding-top:20px;}
.registry_sec .form_section .colem01 span{ float:left; width:205px; height:51px; background:url(../images/sign_btn.gif) no-repeat 0 0;}
.registry_sec .form_section .colem01 span input.inp{ float:left; width:205px; color:#fff; height:51px; cursor:pointer; background:none; border:none; text-align:center; font:bold 22px/51px "Helvetica Neue";}
.registry_sec .form_section .colem01 p{ float:left; width:auto; padding-left:18px; color:#666666; font:bold 13px/16px "Helvetica Neue"; margin-top:17px; display:inline;}
.registry_sec .form_section .colem01 p a{color:#666666;}
.registry_sec .form_section .colem01 p small{ float:left; width:auto; height:auto; padding:3px 9px 0 0;}









#body_container .registry_sec .registry_right{ float:right; width:283px; padding-top:40px;}
.registry_right .top_section{width:100%; float:left; min-height:350px; height:auto !important; height:350px;}
.registry_right .top_section h4{font-size:13px; color:#FF3300; font-family:"Helvetica Neue", arial; text-transform:uppercase; padding-bottom:10px; width:100%;}
.registry_right .top_section p{font-size:16px; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; line-height:20px;}
.registry_right .process{width:100%; float:left;  font-size:14px; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; }
.registry_right .process h4{font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; color:#666666; font-size:13px; padding-bottom:20px; width:100%; }
.registry_right .process p{color:#000; color:#999999; padding-bottom:15px}
.registry_right .process ul{width:100%; float:left; list-style:none; color:#FF3300;}
.registry_right .process ul li{width:268px; float:left; background:url(../images/bullet.gif) 0 4px no-repeat; padding-left:15px;}
.registry_right .process ul li a{color:#FF3300; text-decoration:underline;}

.slide{width:250px; float:left; height:12px; clear:left; background:url(../images/slide_bg.gif) 0 0  no-repeat; position:relative; padding:10px 0px 15px 0px;}
.slide .slider{position:absolute; top:2px; left:4px;}
.slide .slider img{float:left;}
/***** sign up page ends here *******/
