#outer_layout{ float:left; width:100%; background:url(../images/header_bg01.jpg) repeat-x 0 0}
.layout{ margin:auto; width:1032px;}
.outer_wrapper{ float:left; width:100%; background:url(../images/header_bg.jpg) no-repeat center top;}
.outer_header{ float:left; width:100%;}

#header{ float:left; width:100%;}

#header .top_nav{ float:left; width:100%; padding:45px 0 0 0;}
#header .top_nav ul{ float:left; width:100%; list-style:none;}
#header .top_nav ul li{ float:left; color:#818180; font:bold 13px/16px "Helvetica Neue"; text-transform:uppercase; background:url(../images/doot.gif) no-repeat right center; padding:0 19px;}
#header .top_nav ul li.first{ padding:0 19px 0 0;}
#header .top_nav ul li.last{background:none; padding:0 0 0 19px;}
#header .top_nav ul li a{ float:left; color:#818180;}
#header .top_nav ul li a:hover, #header .top_nav ul li a.active{ color:#ff3300; text-decoration:none;}

#header .logo{ float:left; width:100%; padding:50px 0 0 0;}
#header .logo h1{ float:left; width:860px;}
#header .logo h1 a{ float:left; width:auto; color:#fff; font:normal 101px/121px Georgia, "Times New Roman", Times, serif;}
#header .logo h1 a span{ color:#ff3300;}
#header .logo h1 a:hover{ text-decoration:none;}

#header .header_text{ float:left; width:100%; padding:15px 0 0 0;}
#header .header_text p{ float:left; width:100%; font:normal 23px/28px "Helvetica Neue";}

#header .header_boot{ float:left; width:100%; padding-top:94px;}
#header .header_boot p{ float:left; width:321px; height:11px; color:#ff3300; font:bold 13px/16px "Helvetica Neue"; text-indent:-9999px; background:url(../images/do_work.jpg) no-repeat 0 0; position:relative; left:-13px; top:3px;}
#header .header_boot h2{ float:left; width:100%; color:#fff; font:normal 25px/30px Georgia, "Times New Roman", Times, serif; padding-top:16px;}

#header .header_boot ul{ float:left; width:100%; list-style:none; padding-top:32px; position:relative; left:-1px;}
#header .header_boot ul li{ float:left; width:auto; height:auto; color:#ffffff; font:normal 17px/21px "Helvetica Neue"; display:inline;}
#header .header_boot ul li a{ color:#ff3300;}
#header .header_boot ul li.sign_in{ width:297px; height:84px;}
#header .header_boot ul li.fill_form{ width:299px; height:84px;margin-left:64px;}
#header .header_boot ul li.you_done{ width:308px; height:85px; margin-left:64px;}
#header .header_boot ul li img{ float:left;}
#header .header_boot ul li span{ padding-top:17px; display:block; width:201px; float:right}

#header .nav{ float:left; width:100%; height:40px; padding-top:127px;}
#header .nav ul{ float:left; width:100%; list-style:none;}
#header .nav ul li{ float:left; color:#000000; font:bold 13px/16px "Helvetica Neue"; text-transform:uppercase; background:url(../images/orange_doot.gif) no-repeat right center; padding:0 19px;}
#header .nav ul li a{ color:#000;}
#header .nav ul li.first{ padding:0 19px 0 0;}
#header .nav ul li.last{background:none; padding:0 0 0 19px;}

#body_container{ float:left; width:100%; padding:49px 0 0 0;}
.body_top{ float:left; width:100%;}

.body_top .body_top_lf{ float:left; width:310px; padding-top:24px;}
.body_top .body_top_lf h3{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue";padding-bottom:16px; text-transform:uppercase; text-shadow:1px 1px 0 #fff;}
.body_top .body_top_lf p{ float:left; width:100%; color:#000000; font:normal 17px/21px "Helvetica Neue";padding-bottom:21px;}
.body_top .body_top_lf span{ float:left; width:268px; height:51px;padding-top: 11px}
.body_top .body_top_lf span a{ display:block; width:218px; padding-left:50px; float:left; height:51px; background:url(../images/spread_world.gif) no-repeat 0 0; color:#fff;font:normal 17px/51px "Helvetica Neue";}

.body_top .body_top_rt{ float:right; width:659px; height:358px; padding:10px; background:url(../images/video_bg.jpg) no-repeat 0 0;}

.box_list{ float:left; width:100%; padding:57px 0 86px 0 ;}
.box_list ul{ float:left; width:100%; list-style:none;}
.box_list ul li{ float:left; width:314px; padding-left:48px;}
.box_list ul li.first{padding-left:0;}
.box_list ul li.last{width:313px; padding-left:43px;}
.box_list ul li h4{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue";padding-bottom:19px; text-transform:uppercase; text-shadow:1px 1px 0 #fff; height:16px;}
.box_list ul li span{ float:left; width:228px; height:75px; padding-top:4px}
.box_list ul li p{ float:left; width:100%; color:#000; font:normal 17px/21px "Helvetica Neue";padding:26px 0 0 0;}
.box_list ul li h5{ float:left; width:100%; color:#ff3300; font:bold 20px/26px "Helvetica";padding-bottom:7px; text-transform:uppercase; text-shadow:1px 1px 0 #fff;}
.box_list ul li small{ float:left; width:100%; color:#666666; font:normal 15px/15px "Helvetica";}
.box_list ul li small strong{ padding-left:10px; font-weight:normal; background:url(../images/dot.gif) no-repeat left center; margin-left:6px; display:inline;}
.box_list ul li p.blockquoto{ padding:50px 0 26px 0; background:url(../images/blockquoto.gif) no-repeat right bottom;}

.box_list ul li .date_sec{ float:left; width:100%; padding-top:13px;}
.box_list ul li .date_sec ul{ float:left; width:100%; list-style:none;}
.box_list ul li .date_sec ul li{ float:left; width:150px; padding:0}
.box_list ul li .date_sec ul li span{ float:left; color:#adadad; font:bold 11px/14px "Helvetica Neue"; height:auto; padding:0}
.box_list ul li .date_sec ul li strong{ float:left; color:#666666; font:normal 15px/15px Helvetica, Arial, sans-serif;}

#outer_footer{ float:left; width:100%; background:#121212; border-top:4px solid #ff3300; height:206px;}
#footer { float:left; width:100%; background:url(../images/footer_bg.jpg) no-repeat right top; position:relative; top:-4px;}
#footer .footer_left{ float:left; width:618px; padding-top:50px;}
#footer .footer_left p{ float:left; width:100%; font:normal 17px/21px "Helvetica Neue"; color:#fff; }
#footer .footer_left p a{ color:#ff3300;}

#footer .footer_left ul{ float:left; width:100%;list-style:none; padding-top:45px;}
#footer .footer_left ul li{ float:left;color:#898989; font:normal 17px/21px "Helvetica Neue"; background:url(../images/seprator.gif) no-repeat left center; padding:0 5px;}
#footer .footer_left ul li.first{background:none; padding:0 5px 0 0;}
#footer .footer_left ul li a{color:#898989;}

#footer .footer_right{ float:right; width:315px; padding-top:53px;}
#footer .footer_right .newyork_logo{ float:left; width:165px; height:34px;}
#footer .footer_right .international{ float:left; width:118px; height:37px; padding-left:28px;}


/***** sign up page start here *******/

.sign_sec{ float:left; width:100%; padding:5px 0 118px 0;}
.sign_sec .sign_left{ float:left; width:738px;}
.sign_sec .sign_left form{ float:left; width:647px; background:url(../images/sign_up_bg.png) no-repeat 0 0; padding:40px 44px 47px 45px}
.sign_sec .sign_left form .colem{ float:left; width:100%;}
.sign_sec .sign_left form .padd_top{ padding-top:16px;}
.sign_sec .sign_left form h3{ float:left; width:100%; color:#020202; font:bold 13px/16px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; padding-bottom:26px;}
.sign_sec .sign_left p{ float:left; width:100%; color:#000000; font:normal 17px/21px "Helvetica Neue";padding-bottom:21px;}

.sign_sec .sign_left form .row{ float:left; width:100%; padding-bottom:16px;}
.sign_sec .sign_left form .row label{ float:left; width:100%; color:#aeaeae; font:bold 13px/16px "Helvetica Neue"; text-shadow:1px 1px 0 #fff; text-transform:uppercase; padding-bottom:6px;}
.sign_sec .sign_left form .row input.imp01{ border:1px solid #b1b1b1; float:left; width:410px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}
.sign_sec .sign_left form .row input.imp02{ border:1px solid #b1b1b1; float:left; width:625px; height:20px; padding:10px; font:bold 13px/16px "Helvetica Neue"; color:#aeaeae;}

.sign_sec .sign_left form .row .inner_row{ float:left; width:207px; margin-right:18px; display:inline;}
.sign_sec .sign_left form .row .inner_row input.imp01{ float:left; width:185px;}

.sign_sec .sign_left form .row .inner_row1{ float:left; width:207px; margin-right:18px; display:inline;}
.sign_sec .sign_left form .row .inner_row2{ float:right; width:196px;}
.sign_sec .sign_left form .row .inner_row2 input.imp01{ float:left; width:174px;}

.sign_sec .sign_left form .colem01{ float:left; width:100%; padding-top:20px;}
.sign_sec .sign_left form .colem01 span{ float:left; width:205px; height:51px; background:url(../images/sign_btn.gif) no-repeat 0 0;}
.sign_sec .sign_left form .colem01 span input.inp{ float:left; width:205px; color:#fff; height:51px; cursor:pointer; background:none; border:none; text-align:center; font:bold 22px/51px "Helvetica Neue";}
.sign_sec .sign_left form .colem01 p{ float:left; width:auto; padding-left:18px; color:#666666; font:bold 13px/16px "Helvetica Neue"; margin-top:17px; display:inline;}
.sign_sec .sign_left form .colem01 p a{color:#666666;}
.sign_sec .sign_left form .colem01 p small{ float:left; width:auto; height:auto; padding:3px 9px 0 0;}



#body_container .sign_sec .sign_right{ float:right; width:283px; padding-top:44px;}
#body_container .sign_sec .sign_right span{ float:left; width:215px; height:11px; background:url(../images/do_help.gif) no-repeat 0 0; text-indent:-9999px;}
#body_container .sign_sec .sign_right p{ float:left; width:274px; color:#fff; font:normal 17px/21px "Helvetica Neue"; padding:15px 0 0 9px;}
#body_container .sign_sec .sign_right p a{ color:#fff;}
#body_container .sign_sec .sign_right strong{ float:left; width:274px; color:#fff; font:normal 15px/18px "Helvetica Neue"; padding:160px 0 0 9px;}
#body_container .sign_sec .sign_right small{ float:left; width:274px; color:#999999; font:normal 15px/18px "Helvetica Neue"; padding:360px 0 0 9px;}
/***** sign up page ends here *******/

/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.publish-popup{
	display:none;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close { Position the close button
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#999; 
	font-size:11px; 
	line-height:18px;
} 

form.signin .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
        border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}
.button:hover { background:#ddd; }