<div id="main_container">

        <div class="menu">
        	<ul>                                                                         
        		<li class="selected"><a href="#">home</a></li>
                <li><a href="#">demo</a></li>
        	</ul>
        </div>
        
    <div class="center_content">
    
     	<div class="center_left">
        	<div class="title_welcome">Open <span class="orange">Aid</span> Register</div>
            <div class="welcome_box">
            <p class="welcome">
<span class="orange">Lorem ipsum dolor sit amet, consectetur adipisicing elit </span><br />
Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
			</p>
            <a href="#" class="read_more">read more</a>          
            </div>
         
         <div class="features">   
            <div class="title">Main features</div>
            
                    <ul class="list">
                    <li><span>1</span><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a></li>
                    <li><span>2</span><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a></li>
                    <li><span>3</span><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a></li>
                    <li><span>4</span><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</a></li>
                    </ul> 
         </div> 
         
         
         <div class="features">   
            <div class="title">Latest News</div>
                <div class="news_box">
                    <div class="news_icon"></div>
                    <div class="news_content">
                    ìLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </div>   
                </div>
                <div class="news_box">
                    <div class="news_icon"></div>
                    <div class="news_content">
                    ìLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </div>   
                </div>       

         </div> 
         
         
           
            
            
        </div> 
        
        
        <div class="center_right">
        
        
                        <div class="text_box">
                        <div class="title">Clients login</div>
                            <div class="login_form_row">
                            <label class="login_label">Username:</label><input type="text" name="name" class="login_input" />
                            </div>
                            
                            <div class="login_form_row">
                            <label class="login_label">Password:</label><input type="password" name="pass" class="login_input" />
                            </div>                                     
                            <input type="image" src="images/login.gif" class="login" />                              
                        
                        </div>
                        
                        <div class="testimonials">
                        	<div class="title">Testimonials</div>
                            <div class="text_box">
                             <p class="testimonial">
                             ìSed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniamî<br />
                             <strong>Edward Caloryd</strong>
                             
                             </p>
                            
                            
                            </div>                    
                        
                        </div>
        

        </div>  
        
        <div class="clear"></div> 
    
    </div>    

    
    <div id="footer">                                              
        <div class="left_footer"><a href="#">home</a> <a href="#">about</a> <a href="#">privacy policy</a><a href="#">contact</a></div>
        <div class="right_footer">
        </div>   
    
    </div>
    
    
    
</div>
<!-- end of main_container -->