<% content_for :head do %>
  <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'71542055-cb49-4171-897d-f7327ef5cb51'});</script>
  <%= javascript_include_tag "home" %>
<% end %>

<div class="logo">
  <h1>
    <a href="/" title="openAid Home">Open<span>Aid</span><img src="/images/plus_icon.png" alt="" class="rit3 png" />&nbsp;&nbsp;&nbsp;&nbsp;Register</a>
  </h1>
</div>

<div class="header_text">
  <p>We help non-profits and NGOs publish their aid data using the most common data standard for aid: IATI (International Aid Transparency Initiative) and ensure that this data remain open.</p>
</div>

<div class="header_boot">
  <p>DO YOU WORK IN A NON-PROFIT OR NGO?</p>
  <h2>This is all you have to do to make your organization be <strong>transparent</strong></h2>
  <ul>
    <li class="sign_in">
      <a href="/signup"><img src="/images/sign_ing.png" alt=""/></a>
      <span><strong>1.</strong> <a href="/signup">Sign up</a> for an account or <a href="/login">log in</a> if you're already registered</span>
    </li>
    <li class="fill_form"><img src="/images/fill_form.png" alt=""/><span><strong>2.</strong> Fill in the form for each organization’s projects </span></li>
    <li class="you_done"><img src="/images/you_done.gif" alt=""/><span><strong>3.</strong> You are done, your data is now released!</span></li>
  </ul>
</div>

<div class="nav">
  <ul>
    <li class="first"><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="#who_is_using_it">WHO IS ALREADY USING IT</a></li>
    <li><a href="http://blog.openaidregister.org">BLOG</a></li>
    <li class="last"><a href="/about">ABOUT</a></li>
  </ul>
</div>


<div id="body_container">
  <div class="body_top">
    <div class="body_top_lf">
      <h3>OUR GOAL</h3>

      <p>All organizations committed to aid projects should strive to keep their data open and transparent. Open Aid Register's goal is to assist non-profits and NGOs in making this happen by helping them publish their data in the standard known as IATI (the International Aid Transparency Initiative).  </p>
      <p>By publishing data in this IATI common data standard, organizations can be sure that their aid information can be shared, understood, and used by donors, other NGOs helping in similar sectors or locations, those recipients of aid throughout the world, and the general public.</p>

      <span>
    <a href="javascript:var%20d=document,f='http://www.new.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1219930092&u='+e( window.location.href)+'&t='+e(d.title);1;try{if%20(!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z)%20{a=function()%20{if%20(!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if%20(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0)" title="Compartir en Facebook" class="facebook">Like it? Spread the word</a></span> </div>
    <div class="body_top_rt">
      <iframe src="http://player.vimeo.com/video/29997853?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" width="659" height="357" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    </div>
  </div>

  <div class="box_list">
    <ul>
	    <li class="first">
	      <h4><a name="who_is_using_it"></A> WHO IS ALREADY USING THIS</h4>
	      <span><img src="/images/ewb_logo.png" alt="" /></span>
	      <p class="blockquoto">
		    It is an extremely effective tool for NGOs to publish IATI data. We've found the platform's interface easy to navigate and intuitive to use. Partnering with the Open Aid Register is a quick and reliable way for NGOs to contribute to the aid effectiveness movement by becoming IATI compliant.</p>
	    </li>
	    <li>
	      <h4>RECENTLY PUBLISHED PROJECTS</h4>
	      <h5>Water Team: Water Point Monitoring</h5>
	      <small>EWB Canada<strong>170000 CAD</strong></small>
	      <p>Mapping water points is a critical step towards improving clean water access for rural families in Malawi. Using an innovative tool we created to monitor the lifecycle of hand pumps, wells and boreholes, EWB volunteers have documented the location of water points across the country. With this information, we are facilitating improved decision-making for development partners and local government</p>
	      <div class="date_sec">
	        <ul>
	          <li><span>FROM</span> <strong>2010-11-01</strong> </li>
	          <li><span>TO</span> <strong>2011-11-01</strong> </li>
	        </ul>
	      </div>
	    </li>
	    <li class="last">
	      <h4>&nbsp;</h4>
	      <h5>Water Team: Small-business solutions for repair and parts</h5>
	      <small>EWB Canada<strong>140000 CAD</strong></small>
	      <p>In villages where the majority of water points are broken, access to spare parts and repair training are needed to restore clean sources of water. To make this a reality, EWB is providing knowledge, training, and research support to our partners to develop and pilot a solution to this problem.</p>
	      <div class="date_sec">
	        <ul>
	          <li><span>FROM</span> <strong>2010-11-01</strong></li>
	          <li><span>TO</span> <strong>2011-11-01</strong> </li>
	        </ul>
	      </div>
	    </li>

	  </ul>
	</div>
</div>
