
        
    <div class="center_content">
    

<%= link_to "Already a user? Please SIGN IN", "/login" %>
 <br>
<br>
 
<h2> 
	<p>	Each organization working on AID should publish their project's data.
		</p><p>
				Check out this video to learn why this is important 
				</p>
			</h2>
        
<iframe src="http://player.vimeo.com/video/24621998?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="400" height="225" frameborder="0"></iframe>


<h2>But...for NGO's converting their data to IATI standard might be technically difficult. Open Aid Register helps NGOs in publishing its data. This is how it works
	</h2>
	
	<img src="/images/stepsforOAR.gif" width="540" height="320">
	
	 <%= link_to "GET STARTED", "/signup" %>
 </div> 