<div class="logo">
  <h1 class="wid">
    <a href="/about" title="openAid Home">About</a>
    <img src="/images/plus_icon.png" alt="" class=" rit5 png">
  </h1>
</div>

<div class="header_text">
  <p>We built Open Aid Register because we are committed to aid transparency and effectiveness. We believe in what we do, and feel that small projects like this one can create a better society.</p>
</div>

<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
      <form action="#" method="post" style="margin-top:7px;">

        <div class="colem">
          <p> <b>WHAT IS OPEN AID REGISTER? </b><br> <br>
			One of the key problems facing global aid transparency initiatives today is knowing who is doing what, where. Ensuring that aid data is published in<a href="http://iatistandard.org"> IATI</a>– the global standard for publishing aid data – helps remedy this problem. Publishing aid data in IATI allows the aid information from NGOs and non-profits to be cross-referenced and compared with aid data published by donors. Striving to get all global aid information published in the same format will allow funders, providers, and recipients of aid, in addition to the general public, to understand what is currently being done and what should be done in the global aid arena.
<br><br> Therefore, organizations are encouraged/need to convert their data to IATI as early as possible – even while aid projects are in action. Doing so helps foster collaboration and coordination among organizations engaged in similar aid projects. Making this data open and transparent as early as possible helps ensure appropriate allocation of resources within an organization and among other organizations doing similar work.
<br><br>

	<b>WHAT ARE THE BEST ADVANTAGES? </b><br><br>
	<strong> Open Aid Register helps NGOs easily convert aid data to IATI standard. </strong> <br>
	Instead of investing money in a technologist, all you have to do is input aid data into a form and Open Aid Register will format the data in IATI and provide it back to you.<br><br>
<strong>You can easily and accurately geolocate aid projects. </strong> Open Aid Register uses the amazing geospatial dababase in the cloud <a href="http://cartodb.com"> CartoDB</a>.Through an interactive and easy to use map, you can add as many locations as you need. You can add as many locations as you need. Geospatial information will be stored at <a href="http://twitter.com/cartodb"> @cartodb</a>. <br><br>
<strong> The IATI common registry updates automatically with your project data.</strong><br>
You don't have to update the IATI Registry manually – Open Aid Register does it for you.  When you update a project, the information is automatically saved in the IATI common registry.  This means your projects will be accessible and current to everyone.
<br><br>
<strong> It's all open source.</strong><br>
Find the Github repository<a href="https://github.com/ruthdelcampo/OpenAidRegister"> here</a>
<br><br>
		<b>	WHO RUNS OPEN AID REGISTER? </b><br><br>
Open Aid Register is a New York Law School project funded by the Fulbright Commission and the Government of Spain.<br><br>

Designs have been kindly made by <a href="http://www.twitter.com/saleiva"> @saleiva</a> <br><br>

<b>CAN I COLLABORATE? </b><br><br>
No matter who you are, either a citizen interested in the topic, a researcher, or an NGO officer—Open Aid Register can be a resource. If you are interested in Open Aid Register, <a href="mailto:contact@openaidregister.org">drop us a line </a> or <a href="http://www.twitter.com/openaidreg"> @tweet </a> us and we will contact you.<br><br>


</div>
</form>
</div>
<div class="sign_right">
  <h4>MORE QUESTIONS?</h4>
  <p>Visit our <%= link_to "FAQ", faq_path, :class => 'hl' %> </p>
</div>
</div>
</div>
