<div class="logo">
  <h1 class="wid">
    <a href="/faq" title="openAid FAQ">F.A.Q</a>
    <img src="/images/plus_icon.png" alt="" class=" rit5 png">
  </h1>
</div>

<div class="header_text">
  <p>Frequently Asked Questions.</p>
</div>

<div id="body_container">
  <div class="sign_sec">

    <div class="sign_left">
      <form action="#" method="post" style="margin-top:35px;">
        <div class="colem">
          <div id="faq">
            <h2>FAQ</h2>
            <ul>
              <li><a href="#faq1">1. WHO BENEFITS FROM OPEN AID REGISTER AND HOW?</a></li>
              <li><a href="#faq2">2. HOW DOES THE GENERAL PUBLIC BENEFITS FROM OAR? </a></li>
              <li><a href="#faq3">3. HOW DOES NGOs, NON-PROFITS AND OTHER AID RELATED ORGs BENEFIT FROM OAR?</a></li>
              <li><a href="#faq4">4. HOW DOES GOVERNMENTS & DONOR ORGANIZATIONS BENEFIT FROM OAR?</a></li>
              <li><a href="#faq5">5. HOW DOES CITIZENS IN DEVELOPING NATIONS BENEFIT FROM OAR? </a></li>
              <li><a href="#faq6">6. HOW DOES RESEARCHERS BENEFIT FROM OAR?</a></li>
              <li><a href="#faq7">7. CAN I COLLABORATE?</a></li>
              
            </ul>

            <div>
              <a name="faq1"></a>
              <h3>1.WHO BENEFITS FROM OPEN AID REGISTER AND HOW?</h3>
              <p>Open Aid Register is a project which benefits the society in full. It helps to depict the global aid picture needed to increase efficiency and effectiveness in aid projects. Check out specific targets for Open Aid Register.</p>
            </div>

            <div>
              <a name="faq2"></a>
              <h3>2. HOW DOES THE GENERAL PUBLIC BENEFITS FROM OAR?</h3>
              <p>Open Aid Register is a tool that serves the public in a number of ways. For starters, it’s a tool that brings more citizens into the global aid discussion.  Open Aid Register is a way to take aid data out from behind the closed door of the donor-aid organization relationship and allow the public to participate in the conversation.  Open Aid Register exists as a concrete way to hold aid organizations accountable while at the same time helping those organizations release and share data that can be used to better their aid efforts.  Using Open Aid Register enables the dissemination of not just more, but more reliable and more usable data. This data can certainly be used by those organizations providing aid — it has the potential to help them perform their goals through better identification of where aid resources should be used, what works in certain projects, and what is lacking in others. The more reliable, understandable data all stakeholders have, the more effective aid projects can be designed and carried out.</p>
            </div>

            <div>
              <a name="faq3"></a>
              <h3>3. HOW DOES NGOs, NON-PROFITS AND OTHER AID RELATED ORGs BENEFIT FROM OAR?</h3>
              <p>If you work for an NGO, non-profit, Foundation, or any kind of aid organization, you should convert your aid project information to IATI. If you don’t have enough time or IT resources to do this, Open Aid Register will help you. Sign up now and start publishing your projects in IATI!</p>
            </div>

            <div>
              <a name="faq4"></a>
              <h3>4. HOW DOES GOVERNMENTS & DONOR ORGANIZATIONS BENEFIT FROM OAR?</h3>
              <p>While many developing country governments and aid donor organizations have signed on to IATI, much of the data coming from the aid organizations have yet to be converted to IATI. Open Aid Register helps quicken that process. And for governments and donors, the greater amount of aid data that is IATI-compliant, the better.  The more organizations that transfer their data to IATI, the greater the pool of information governments and donor organizations have to determine what types of aid projects are being carried out within and outside of their countries, and what projects demand funding.  It also enables donors and governments to cross-reference their own data with the organizations they fund.</p>
            </div>

            <div>
              <a name="faq5"></a>
              <h3>5. HOW DOES CITIZENS IN DEVELOPING NATIONS BENEFIT FROM OAR? </h3>
              <p>For citizens in areas where aid projects exist or should exist, Open Aid Register’s existence provides both a better understanding of the aid profile of their particular town or country, and a bit of  leverage to petition their governments and request aid in their area.<br><br>Because those on the aid receiving end should not be left in the dark, Open Aid Register aims to be a link in the process of facilitating greater transparency to the recipients of aid. It also hopes to enable the sharing of information that can be used to jump-start needed aid projects in underserved areas around the world.
			</p>
            </div>

            <div>
              <a name="faq6"></a>
              <h3>6. HOW DOES RESEARCHERS BENEFIT FROM OAR?</h3>
              <p>Open Aid Register helps aid organizations convert their aid data to IATI, and publish it in the IATI registry. Once in IATI, the data is more understandable, comparable, and easy to use. This IATI-compliant data can then be used by researchers to expose problems and areas of need in aid projects, as well as accomplishments around the world.<br><br>The more transparent the data, the better job researchers can do to derive value from that data and initiate difference-making actions in the realm of global aid.<br><br></p>
            </div>

            <div>
              <a name="faq7"></a>
              <h3>7. CAN I COLLABORATE?</h3>
              <p>No matter who you are, either a citizen interested in the topic, a researcher, or an NGO officer—Open Aid Register can be a resource. If you are interested in Open Aid Register, <a href="mailto:contact@openaidregister.org">drop us a line </a> or <a href="http://www.twitter.com/openaidreg"> @tweet </a> us and we will contact you.<br><br></p>
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class="sign_right">

    </div>

  </div>
</div>

