<div class="registry_right">

  <div class="top_section">
    <h4><img src="/images/do_help02.gif" alt="" /></h4>
    <p>Click here for an example form or <a HREF="mailto:contact@openaidregister.org">contact us </a>with your questions.</p>
  </div>

  <div class="process">

    <h4>PROCCESS OVERVIEW</h4>
    <div class="slide">
      <div class="slider"><a href="#"><img src="/images/slider.gif" alt="" /></a></div>
    </div>
    <p>You've completed more than a half of the form. You are almost done! :)</p>

    <ul>
    <% if @errors.length > 0 %>
      <h5 id="errors"><b>Errors:</b></h5>
      <% @errors.each do |error| %>
        <li>
          <%= error %><br>
        </li>
        <% end %>
    <% end %>
    </ul>

  </div>
</div>
