<div class="logo">
  <h1 class="wid">
    <%= link_to @project[:title], project_path(@project[:cartodb_id]), :title =>  @project[:title] %>
    <img src="/images/plus_icon.png" alt="" class="png"/>
  </h1>

  <div class="header_text">
    <p><%= @project[:description] %></p>
  </div>
</div>

