<div id="main_container">

        <div class="menu">
        	<ul>                                                                         
        		<li class="selected"><a href="#">home</a></li>
                <li><a href="#">demo</a></li>
        	</ul>
        </div>
        
    <div class="center_content">
    
         

         
         
           
        dzasdfsdvsdcsdcf
    
    </div>    

    
    <div id="footer">                                              
        <div class="left_footer"><a href="#">home</a> <a href="#">about</a> <a href="#">privacy policy</a><a href="#">contact</a></div>
        <div class="right_footer">
        </div>   
    
    </div>
    
    
    
</div>
<!-- end of main_container -->