<div class="logo">
          <h1 class="wid"><a href="index.html" title="openAid Home">About</a><img src="/images/plus_icon.png" alt="" class="png">
        </div>
  <div class="header_text">
    <p>We built Open Aid Register because we are committed with aid transparency and aid effectiveness. We believe in what we do. Small projects like this can create a better society. </p>
  </div>
</div>
<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
        <form action="#" method="post">
			
              	<div class="colem">
           <p> WHAT IS OPEN AID REGISTER? <br> <br>
Open Aid Register is an initiative to speed up getting the global picture of who is doing what, where in terms of aid.<br> <br>One of the key issues for global aid transparency is to know who is doing what, where.  Since IATI is the global standard to publish aid data, organizations need to convert their data to IATI compliance. It is important to get IATI data as early as possible, and even more, when the project is in action, in order to make effective collaboration and coordination among organizations.<br> <br>There are many organizations which do not have the time and resources to convert their aid project information to IATI language in a short period. This means their projects could not be in the IATI Registry until they can allocate IT resources to do it.  This project enables easier implementation of IATI Standard for any kind of organization.<br><br>  
	This makes it so that any person from an aid organization, without needing to be an IT expert, can introduce their own aid data and publish it easily and smoothly. It also does not need to have IT resources available since aid data can be hosted in the project.<br><br>
	WHAT ARE THE BEST ADVANTAGES? <br><br>
	<strong> Open Aid Register helps NGOs easily convert aid data to IATI standard. </strong> <br>
	Instead of investing money in technologist, just introduce your aid data as a form and you will get XML data stantard as the result.<br><br>
<strong>You can easily Geolocate aid projects accurately. </strong> Open Aid Register uses the amazing geospatial dababase in the cloud <a href="www.cartodb.com"> CartoDB</a>. Through an interactive and easy to use map, you locate your aid projects accurately. You can add as many locations as you need. Geospatial information will be stored at @cartodb. <br><br>
<strong> It updates automatically the IATI common registry</strong><br>
You don't have to take care of IATI Registry. Open Aid Register makes it for you. When you update a project, this information is updated dinamically in the IATI common registry. Your projects will be accesible and always updated to everyone.
<br><br>

			WHO IS DOING OPEN AID REGISTER?  <br><br>
Open Aid Register is a New York Law School project funded by the Fulbright Commission and the Government of Spain.<br><br>

Designs have been kindly made by <a href="www.twitter.com/saleiva"> @saleiva</a> <br><br>

CAN I COLLABORATE? <br><br>
If you are interested in joining Open Aid Register Team just <a href="mailto:contact@openaidregister.org"> drop us a line </a>and we will contact you </p> 


</div>
        </form>
    </div>
    <div class="sign_right">
    		<span>DO YOU NEED SOME HELP?</span>
          <p>You can always <a HREF="mailto:contact@openaidregister.org" color="#ff3300">contact us</a> if you have troubles on this step</p>
    </div>
  </div>
</div>