<div class="logo">
  <h1 class="wid">
    <a href="/about" title="openAid Home">About</a>
    <img src="/images/plus_icon.png" alt="" class=" rit5 png">
  </h1>
</div>

<div class="header_text">
  <p>We built Open Aid Register because we are committed to aid transparency and effectiveness. We believe in what we do, and feel that small projects like this one can create a better society.</p>
</div>

<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
      <form action="#" method="post">

        <div class="colem">
          <p> <b>WHAT IS OPEN AID REGISTER? </b><br> <br>
			Open Aid Register is an initiative to speed up the process of making aid data open. It is part of the global effort to understand who is doing what, and where, in terms of aid projects.
<br> <br>	One of the key problems facing global aid transparency initiatives today is knowing who is doing what, where. Ensuring that aid data is published in<a href="http://iatistandard.org"> IATI</a>– the global standard for publishing aid data – helps remedy this problem. Publishing aid data in IATI allows the aid information from NGOs and non-profits to be cross-referenced and compared with aid data published by donors. Striving to get all global aid information published in the same format will allow funders, providers, and recipients of aid, in addition to the general public, to understand what is currently being done and what should be done in the global aid arena.
<br><br> Therefore, organizations are encouraged/need to convert their data to IATI as early as possible – even while aid projects are in action. Doing so helps foster collaboration and coordination among organizations engaged in similar aid projects. Making this data open and transparent as early as possible helps ensure appropriate allocation of resources within an organization and among other organizations doing similar work.
<br><br>
	<b>WHO BENEFITS FROM OPEN AID REGISTER AND HOW? </b><br><br>

	<b>The General Public </b><br><br>

  Open Aid Register is also a tool that serves the public in a number of ways. For starters, it’s a tool that brings more citizens into the global aid discussion.  Open Aid Register is a way to take aid data out from behind the closed door of the donor-aid organization relationship and allow the public to participate in the conversation.  Open Aid Register exists as a concrete way to hold aid organizations accountable while at the same time helping those organizations release and share data that can be used to better their aid efforts.  Using Open Aid Register enables the dissemination of not just more, but more reliable and more usable data. This data can certainly be used by those organizations providing aid — it has the potential to help them perform their goals through better identification of where aid resources should be used, what works in certain projects, and what is lacking in others. The more reliable, understandable data all stakeholders have, the more effective aid projects can be designed and carried out.

	<br><br>
	<b>NGOs, non-profits, and all types of aid organizations </b><br><br>
If you work for an NGO, non-profit, Foundation, or any kind of aid organization, you should convert your aid project information to IATI. If you don’t have enough time or IT resources to do this, Open Aid Register will help you. Sign up now and start publishing your projects in IATI!
	<br><br>
	<b>Governments & donor organizations</b><br><br>
While many developing country governments and aid donor organizations have signed on to IATI, much of the data coming from the aid organizations have yet to be converted to IATI. Open Aid Register helps quicken that process. And for governments and donors, the greater amount of aid data that is IATI-compliant, the better.  The more organizations that transfer their data to IATI, the greater the pool of information governments and donor organizations have to determine what types of aid projects are being carried out within and outside of their countries, and what projects demand funding.  It also enables donors and governments to cross-reference their own data with the organizations they fund.
<br><br>
<b>Citizens in Developing Nations </b><br><br>
For citizens in areas where aid projects exist or should exist, Open Aid Register’s existence provides both a better understanding of the aid profile of their particular town or country, and a bit of  leverage to petition their governments and request aid in their area.
<br><br>
Because those on the aid receiving end should not be left in the dark, Open Aid Register aims to be a link in the process of facilitating greater transparency to the recipients of aid. It also hopes to enable the sharing of information that can be used to jump-start needed aid projects in underserved areas around the world.
<br><br>
<b>Researchers</b><br><br>
Open Aid Register helps aid organizations convert their aid data to IATI, and publish it in the IATI registry. Once in IATI, the data is more understandable, comparable, and easy to use. This IATI-compliant data can then be used by researchers to expose problems and areas of need in aid projects, as well as accomplishments around the world.<br><br>The more transparent the data, the better job researchers can do to derive value from that data and initiate difference-making actions in the realm of global aid.<br><br>
<b>CAN I COLLABORATE? </b><br><br>
No matter who you are, either a citizen interested in the topic, a researcher, or an NGO officer—Open Aid Register can be a resource. If you are interested in Open Aid Register, <a href="mailto:contact@openaidregister.org">drop us a line </a> or <a href="http://www.twitter.com/openaidreg"> @tweet </a> us and we will contact you.<br><br>

	<b>WHAT ARE THE BEST ADVANTAGES? </b><br><br>
	<strong> Open Aid Register helps NGOs easily convert aid data to IATI standard. </strong> <br>
	Instead of investing money in a technologist, all you have to do is input aid data into a form and Open Aid Register will format the data in IATI and provide it back to you.<br><br>
<strong>You can easily and accurately geolocate aid projects. </strong> Open Aid Register uses the amazing geospatial dababase in the cloud <a href="http://cartodb.com"> CartoDB</a>.Through an interactive and easy to use map, you can add as many locations as you need. You can add as many locations as you need. Geospatial information will be stored at <a href="http://twitter.com/cartodb"> @cartodb</a>. <br><br>
<strong> The IATI common registry updates automatically with your project data.</strong><br>
You don't have to update the IATI Registry manually – Open Aid Register does it for you.  When you update a project, the information is automatically saved in the IATI common registry.  This means your projects will be accessible and current to everyone.
<br><br>
<strong> It's all open source.</strong><br>
Find the Github repository<a href="https://github.com/ruthdelcampo/OpenAidRegister"> here</a>
<br><br>
		<b>	WHO RUNS OPEN AID REGISTER? </b><br><br>
Open Aid Register is a New York Law School project funded by the Fulbright Commission and the Government of Spain.<br><br>

Designs have been kindly made by <a href="http://www.twitter.com/saleiva"> @saleiva</a> <br><br>

</div>
</form>
</div>
<div class="sign_right">
  <span>DO YOU NEED SOME HELP?</span>
  <p><a HREF="mailto:contact@openaidregister.org" color="#ff3300">Contact us</a> if you are having trouble at this step</p>
</div>
</div>
</div>
