<div id="main_container">

        
        
    <div class="center_content">
    
       <h1>What is Open Aid Register?</h1>  
		<h2>Open Aid Register is an initiative to speed up getting the global picture of who is doing what, where in terms of aid.</h2>
		<p>One of the key issues for global aid transparency is to know who is doing what, where.  Since IATI is the global standard to publish aid data, organizations need to convert their data to IATI compliance. It is important to get IATI data as early as possible, and even more importantly, when the project is in action, in order to make effective collaboration and coordination among organizations.</p>

	
		<p>There are many organizations which do not have the time and resources to convert their aid project information to IATI language in a short period. This means their projects could not be in the IATI Registry until they can allocate IT resources to do it.  This project enables easier implementation of IATI Standard for any kind of organization and therefore the global picture of aid data will be available sooner.</p>
		<p>Open Aid Register aims at helping organizations register and publish in a central system for aid projects. It enables them to introduce aid data and convert it into the IATI-compliant standard. It also enables hosting this information into a public URL so that it can be linked to IATI Registry.</p>
		<p>This makes it so that any person from an aid organization, without needing to be an IT expert, can introduce their own aid data and publish it easily and smoothly. It also does not need to have IT resources available since aid data can be hosted in the project.</p>
    
    </div>    

<!-- <%= image_tag "public/images/menu_3dbox.gif" %> -->
    
    
    
    
</div>
<!-- end of main_container -->