<div class="logo">
          <h1 class="wid"><a href="/about" title="openAid Home">About</a><img src="/images/plus_icon.png" alt="" class=" rit5 png">
        </div>
  <div class="header_text">
    <p>We built Open Aid Register because we are committed to aid transparency and effectiveness. We believe in what we do, and feel that small projects like this one can create a better society.</p>
  </div>
</div>
<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
        <form action="#" method="post">
			
              	<div class="colem">
           <p> WHAT IS OPEN AID REGISTER? <br> <br>
			Open Aid Register is an initiative to speed up the process of making aid data open. It is part of the global effort to understand who is doing what, and where, in terms of aid. 
<br> <br>One of the key problems facing global aid transparency initiatives today is knowing who is doing what, where.  Ensuring that aid data is published in IATI – the global standard used for publishing aid data – helps remedy this problem.  Publishing aid data in IATI allows for the information from NGOs and non-profits to be cross-referenced and compared with aid data published by donors.  Striving to get all global aid information published in the same format will allow funders, providers, and recipients of aid, in addition to the general public, to understand what is currently being done and what should be done in the global aid arena. Therefore, organizations need to convert their data to IATI as early as possible – even when aid projects are in action. Doing so helps foster collaboration and coordination among organizations engaged in similar aid projects in close proximity.  Making this data open as early as possible helps ensure appropriate allocation of resources within an organization and among other organizations doing similar work.
<br> <br>	Because many organizations do not have the time and resources to convert their aid project information to the IATI standard in a short period of time, too often this means their projects go unreported to the IATI Registry until too late. Open Aid Register aims to make the conversion into IATI easier for all types of aid organizations.<br><br> Through Open Aid Register anyone form an aid organization can input aid project information for publication in IATI, regardless of IT expertise.  Plus, because Open Aid Register can host the published aid data, organizations don't have to worry about a lack of IT resources.<br><br>
	WHAT ARE THE BEST ADVANTAGES? <br><br>
	<strong> Open Aid Register helps NGOs easily convert aid data to IATI standard. </strong> <br>
	Instead of investing money in a technologist, all you have to do is input aid data into a form and Open Aid Register will format the data in IATI and provide it back to you.<br><br>
<strong>You can easily and accurately geolocate aid projects. </strong> Open Aid Register uses the amazing geospatial dababase in the cloud <a href="http://cartodb.com"> CartoDB</a>.Through an interactive and easy to use map, you can add as many locations as you need. You can add as many locations as you need. Geospatial information will be stored at <a href="http://twitter.com/cartodb"> @cartodb</a>. <br><br>
<strong> The IATI common registry updates automatically with your project data.</strong><br>
You don't have to update the IATI Registry manually – Open Aid Register does it for you.  When you update a project, the information is automatically saved in the IATI common registry.  This means your projects will be accessible and current to everyone. 
<br><br>

			WHO RUNS OPEN AID REGISTER?<br><br>
Open Aid Register is a New York Law School project funded by the Fulbright Commission and the Government of Spain.<br><br>

Designs have been kindly made by <a href="http://www.twitter.com/saleiva"> @saleiva</a> <br><br>

CAN I COLLABORATE? <br><br>
If you are interested in joining Open Aid Register Team, <a href="mailto:contact@openaidregister.org">drop us a line </a>and we will contact you </p> 


</div>
        </form>
    </div>
    <div class="sign_right">
    		<span>DO YOU NEED SOME HELP?</span>
          <p><a HREF="mailto:contact@openaidregister.org" color="#ff3300">Contact us</a> if you are having trouble at this step</p>
    </div>
  </div>
</div>