<div class="logo">
          <h1><a href="" title="openAid Home">About</a></h1>
        </div>
  <div class="header_text">
    <p>We built Open Aid Register because we are committed with aid transparency and aid effectiveness. We believe in what we do. Small projects like this can create a better society. </p>
  </div>
</div>
<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
        <form action="#" method="post">
			
              	<div class="colem">
            <h3>  WHAT IS OPEN AID REGISTER?</h3>  
     		<h3>Open Aid Register is an initiative to speed up getting the global picture of who is doing what, where in terms of aid.<br> <br>One of the key issues for global aid transparency is to know who is doing what, where.  Since IATI is the global standard to publish aid data, organizations need to convert their data to IATI compliance. It is important to get IATI data as early as possible, and even more, when the project is in action, in order to make effective collaboration and coordination among organizations.<br> <br>There are many organizations which do not have the time and resources to convert their aid project information to IATI language in a short period. This means their projects could not be in the IATI Registry until they can allocate IT resources to do it.  This project enables easier implementation of IATI Standard for any kind of organization.<br><br>  
	This makes it so that any person from an aid organization, without needing to be an IT expert, can introduce their own aid data and publish it easily and smoothly. It also does not need to have IT resources available since aid data can be hosted in the project.</h3>

			<h3>WHO IS DOING OPEN AID REGISTER?</h3>  
     		<h3>Open Aid Register is a New York Law School project funded by the Fulbright Commission and the Government of Spain </h3>

<h3> CAN I COLLABORATE? </h3>
<h3> If you are interested in joining Open Aid Register Team just <a href="mailto:contact@openaidregister.org"> drop us a line </a>and we will contact you </h3> 


</div>
        </form>
    </div>
    <div class="sign_right">
    		<span>DO YOU NEED SOME HELP?</span>
          <p>You can always <a HREF="mailto:contact@openaidregister.org" color="#ff3300">contact us</a> if you have troubles on this step</p>
    </div>
  </div>
</div>