<div class="logo">
  <h1>
    <a href="/organizations" title="openAid Organizations">Organizations</a>
    <img src="/images/plus_icon.png" alt="" class="png" style="right:100px;" />
  </h1>
</div>

  <div class="header_text ">
    <p>Several organizations are already part of IATI. Countries, Multilateral organizations, International Funds and many NGOs. Take a look who is already publishing in IATI </p>
  </div>

<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
      <form action="#" method="post" style="margin-top:6px;padding:30px 10px 10px 30px;">
        <div id="organizations_list">

          <ul>
            <li><a href="http://www.iatiregistry.org/publisher/asdb" target="_blank" class="adb"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/adrauk" target="_blank" class="adra"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/aa" target="_blank" class="alliance"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/ausaid" target="_blank" class="australia" title='Australia'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/cafod" target="_blank" class="cafod"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/dipr" target="_blank" class="developmentinitiatives"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/ewb_canada" target="_blank" class="engineerswithoutborders"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/eu" target="_blank" class="eu" title='EU'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/finland_mfa" target="_blank" class="finland" title='Finland'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/theglobalfund" target="_blank" class="globalfund"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/hewlett-foundation" target="_blank" class="hewlett"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/indtrust" target="_blank" class="indigo"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/minbuza_nl" target="_blank" class="netherlands" title='Netherlands'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/oxfamgb" target="_blank" class="oxfam"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/progressio" target="_blank" class="progressio"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/pwyf" target="_blank" class="publish"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/rem" target="_blank" class="rem"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/maec-dgpolde" target="_blank" class="spain" title='Spain'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/spark" target="_blank" class="spark"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/sida" target="_blank" class="sweden" title='Sweden'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/dfid" target="_blank" class="uk" title='UK'></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/undp" target="_blank" class="undp"></a></li>
            <li><a href="http://www.iatiregistry.org/publisher/unops" target="_blank" class="unops"></a></li>

          </ul>

        </div>
      </form>
    </div>

    <div class="dashboard_right">
      DO YOU WANT TO PARTICIPATE? Sign up and register your aid data with Open Aid Register
    </div>
  </div>
</div>
