<div class="logo">
  <h1>
    <a href="/organizations" title="openAid Organizations">Organizations</a>
    <img src="/images/plus_icon.png" alt="" class="png" style="right:100px;" />
  </h1>
</div>

  <div class="header_text ">
    <p>Several organizations are already part of IATI. Countries, Multilateral organizations, International Funds and many NGOs. Take a look who is already publishing </p>
  </div>


<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
      <form action="#" method="post" style="margin-top:6px;padding:30px 10px 10px 30px;">
        <div id="organizations_list">

          <ul>
            <li><a href="" target="_blank" class="adra"></a></li>
            <li><a href="" target="_blank" class="adb"></a></li>
            <li><a href="" target="_blank" class="alliance"></a></li>
            <li><a href="" target="_blank" class="hewlett"></a></li>
            <li><a href="" target="_blank" class="unops"></a></li>
            <li><a href="" target="_blank" class="undp"></a></li>
            <li><a href="" target="_blank" class="spark"></a></li>
            <li><a href="" target="_blank" class="rem"></a></li>
            <li><a href="" target="_blank" class="progressio"></a></li>
            <li><a href="" target="_blank" class="oxfam"></a></li>
            <li><a href="" target="_blank" class="publish"></a></li>
            <li><a href="" target="_blank" class="indigo"></a></li>
            <li><a href="" target="_blank" class="globalfund"></a></li>
            <li><a href="" target="_blank" class="engineerswithoutborders"></a></li>
            <li><a href="" target="_blank" class="developmentinitiatives"></a></li>
            <li><a href="" target="_blank" class="cafod"></a></li>
          </ul>

        </div>
      </form>
    </div>

    <div class="dashboard_right">
      sidebar
    </div>
  </div>
</div>
