<div class="logo">
  <h1 class="wid">
    <a href="/about" title="openAid Home">Explore</a>
    <img src="/images/plus_icon.png" alt="" class=" rit5 png">
  </h1>
</div>

<div class="header_text">
  <p></p>
</div>

<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
      <form action="#" method="post">

        <div class="colem">
			<iframe border="0" width="650" height="450" src='https://ruth.cartodb.com/tables/projects/embed_map?sql=SELECT%20p.cartodb_id,p.title,g.the_geom_webmercator%20FROM%20projects%20as%20p%20inner%20join%20reverse_geo%20as%20g%20on%20p.cartodb_id=g.project_id%20inner%20join%20organizations%20as%20o%20on%20p.organization_id=o.cartodb_id%20WHERE%20o.is_validated=false'></iframe>
		</div>
	</form>
</div>
<div class="sign_right">
  <span>DO YOU NEED SOME HELP?</span>
  <p><a HREF="mailto:contact@openaidregister.org" color="#ff3300">Contact us</a> if you are having trouble at this step</p>
</div>
</div>
</div>
