<!DOCTYPE html>
<html>
<head>
  <title>OpenAidRegister</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="main_container">

	        <div class="menu">
	        	<ul>                                                                         
	        		<li class="selected"><a href="/">home</a></li>
	                <li><a href="/about">about</a></li>
					<li><a href="/project_form">enter projects</a></li>
	        	</ul>
	        </div>
	
<%= yield %>



	</div>
	<!-- end of main_container -->
	
	<div id="footer">                                              
        <div class="left_footer"><a href="/">home</a> <a href="/about">about</a> <a href="mailto:ruthdelcampo@gmail.com">contact</a> <a href="/conditions">terms and conditions</a> </div>
        <div class="right_footer">
	
        </div>   

    </div>

</body>
</html>
